<mat-card>
    <ul class="top-bar">
        <li class="receive">
            <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                <path fill="#000000" d="M3,11H5V13H3V11M11,5H13V9H11V5M9,11H13V15H11V13H9V11M15,11H17V13H19V11H21V13H19V15H21V19H19V21H17V19H13V21H11V17H15V15H17V13H15V11M19,19V15H17V19H19M15,3H21V9H15V3M17,5V7H19V5H17M3,3H9V9H3V3M5,5V7H7V5H5M3,15H9V21H3V15M5,17V19H7V17H5Z" />
            </svg>
            <span>Receive</span>
        </li>
        <li class="balance">
            <span>{{account.alias}}</span>
            <h2>{{account.balance | number : '1.0-8'}}</h2>
            <h3>{{account.address}}</h3>
        </li>
        <li class="send" (click)="openSendDialog()">
            <mat-icon>send</mat-icon>
            <span>Send</span>
        </li>
    </ul>
</mat-card>

<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="recentTransactionData" matSort>


        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <mat-icon *ngIf="isOwnAccount(transaction.senderAddress)" class="indicator danger">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="!isOwnAccount(transaction.senderAddress)" class="indicator success">keyboard_arrow_right</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>account_box</mat-icon>&nbsp;Account</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <span *ngIf="isOwnAccount(transaction.senderAddress)">{{transaction.recipientAddress}}</span>
                <span *ngIf="!isOwnAccount(transaction.senderAddress)">{{transaction.senderAddress}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>local_atm</mat-icon>&nbsp;Amount</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.amountNQT| number : '1.0-8'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fee">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>compare_arrows</mat-icon>&nbsp;Fee</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.feeNQT | number : '1.0-8'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>schedule</mat-icon>&nbsp;Date</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                {{convertTimestamp(transaction.timestamp) | timeAgo}}
                <br>
                <small class="full-date">{{convertTimestamp(transaction.timestamp) | date:'MMM d, y, h:mm:ss'}}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="confirmed">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <mat-icon *ngIf="transaction.confirmed">check</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>
