@import 'src/public/assets/scss/variables/light';

/deep/ mat-list-item {
    height: 50px !important;
}

.address-container {
    height: 65%;
    display: block;
    overflow: auto;
}

.address-container > div > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.node-selection-container {
    height: 90%;
    width: 100%;
    margin: 15px;
}

.step-container {
    padding: 15px;
    height: calc(100vh - 550px);
}

.step {
    height: inherit;
}
