<div class="step-container">
    <mat-grid-list class="step" cols="10" rowHeight="fit">
        <mat-grid-tile [colspan]="9">
            <mat-card class="node-selection-container">
                <mat-card-header>
                    <mat-card-title>
                        Choose a Burst node!
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="height: 100%">
                    <mat-list class="address-container">
                        <mat-list-item *ngFor="let node of nodes">
                            <mat-icon mat-list-icon>dns</mat-icon>
                            <h4 mat-line>{{node.name}}</h4>
                            <p mat-line>Address: {{node.address}} | Region: {{node.region}} | Location: {{node.location}}</p>
                            <mat-slide-toggle [checked]="node.selected"></mat-slide-toggle>
                        </mat-list-item>
                    </mat-list>
                    <small>
                      The Burst node is used to communicate with the Burst network. You can also choose a custom node.
                    </small>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab matStepperNext>
                <mat-icon>navigate_next</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
