<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>bookmark</mat-icon> Id</mat-header-cell>
            <mat-cell *matCellDef="let account"> {{account.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>account_box</mat-icon> Address</mat-header-cell>
            <mat-cell *matCellDef="let account"> {{account.address}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="alias">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>account_box</mat-icon> Alias</mat-header-cell>
            <mat-cell *matCellDef="let account"> {{account.alias}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="balance">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>local_atm</mat-icon> Balance</mat-header-cell>
            <mat-cell *matCellDef="let account"> {{account.balance}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>keyboard_arrow_down</mat-icon> Selected</mat-header-cell>
            <mat-cell *matCellDef="let account"> {{account.selected}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>
