<div>
    <mat-expansion-panel expanded="true" disabled="true" hideToggle="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                New Account? Generate Passphrase
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pin-container">
            <div class="seed-area" (mousemove)="movement($event)"></div>
            <mat-progress-bar mode="determinate" [value]="this.progress"></mat-progress-bar><br />
            Move your mouse across the area to create a random seed for the password generation.
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" disabled="true" hideToggle="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Existing account? Enter Passphrase
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="passphrase-container">
            <mat-form-field>
                <input matInput type="text" placeholder="Passphrase" [(ngModel)]="passphrase">
            </mat-form-field>
            <button mat-raised-button (click)="setManualPassphrase(this.passphrase)">Next</button>
        </div>
    </mat-expansion-panel>
</div>
