@import 'src/public/assets/scss/variables/light';

.seed-area {
    height: 200px;
    text-align: center;
    border-radius: $default-border-radius;
    border: solid 1px $default-border-color;
}

.seed-info {
    margin: 0 auto;
}
