<mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true" [selectedIndex]="this.nodeService.getStepIndex()">
    <ng-template matStepperIcon="edit">
        <mat-icon>dns</mat-icon>
    </ng-template>
    <mat-step [completed]="this.nodeService.getNodes().length > 0" label="Select">
        <app-node-setup-address></app-node-setup-address>
    </mat-step>
    <mat-step [completed]="this.nodeService.getNodes().length > 0" label="Test">
        <ng-template matStepLabel>Test</ng-template>
        <div class="step-container">

        </div>
    </mat-step>
</mat-horizontal-stepper>
