

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-column-account {
    flex: 0 0 300px;
    white-space: nowrap;
}

.mat-column-type {
    flex: 0 0 30px;
}

.mat-column-confirmed {
    flex: 0 0 30px;
}

.mat-column-timestamp {
    flex: 0 0 220px;
}

.top-bar {
    padding:0;
    margin:0;
    list-style: none;
    display:grid;
    grid-template-columns: 20% auto 20%;
    >li:first-child, >li:last-child {
        background:rgba(#fff, .5);
        border:1px solid rgba(#000, .15);
        border-radius:5px;
        cursor:pointer;
        mat-icon, svg {
            margin:22px 0 10px;
            font-size:45px;
            height:45px;
            width:45px;
        }
        .align-middle {
            align-self:center;
            justify-self:center;
        }
        span {
            font-size:14px;
        }
        &:hover {
            background:rgba(#000, .15);
        }
    }
    span {
        display:block;
        text-transform: uppercase;
        font-size:11px;
    }
    li {
        text-align: center;
    }
    h2 {

        margin:20px 0;
        font-size:40px;
    }
    h3 {
        font-size:14px;
    }
}
