.login {
    height:100%;
    width:100%;
    position: fixed;
    background: linear-gradient(141deg, #3dc6c2 0%, #3ca4bc 25%, #3c8dbc 50%, #3c73bc 75%, #2b50bf 100%);
}

.login-inner {
    width:500px;
    margin:0 auto;
    position: relative;
    top:20%;
    color: #FFF;
    text-align:center;

    mat-form-field {
        margin-top:40px;
        width:100%;
    }
}

.logo {
    display:block;
    margin:0 auto;
}
