<div class="login">
    <form (submit)="submit()" class="login-inner">
        <img src="../../../public/assets/img/burst_logo.png" class="logo" />
        <span class="version">{{version}}</span>

        <mat-form-field appearance="outline">
            <mat-label>Enter passphrase</mat-label>
            <input matInput type="password" placeholder="Enter passphrase" required [(ngModel)]="passphrase" name="passphrase">
            <mat-error *ngIf="true">{{errorMessage}}</mat-error>
            <mat-icon matSuffix *ngIf="passphrase" matSuffix aria-label="Clear" (click)="passphrase=''">close</mat-icon>
        </mat-form-field>

        <button mat-button [disabled]="!passphrase" aria-label="Submit" (click)="submit()">Submit</button>
    </form>
</div>