<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="opposite">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>account_box</mat-icon> Opposite</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <span *ngIf="transaction.senderAddress == 'BURST-RTEY-HUSA-BJG4-EZW9E'">{{transaction.recipientAddress}}</span>
                <span *ngIf="transaction.senderAddress != 'BURST-RTEY-HUSA-BJG4-EZW9E'">{{transaction.senderAddress}}</span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>compare_arrows</mat-icon></mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <i *ngIf="transaction.senderAddress == 'BURST-RTEY-HUSA-BJG4-EZW9E'" class="material-icons">keyboard_arrow_left</i>
                <i *ngIf="transaction.senderAddress != 'BURST-RTEY-HUSA-BJG4-EZW9E'" class="material-icons">keyboard_arrow_right</i>
            </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>local_atm</mat-icon> Amount</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.amountNQT}} BURST</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="fee">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>keyboard_arrow_down</mat-icon> Fee</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.feeNQT}} BURST</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="attachment">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>note</mat-icon> Note</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <span *ngIf="transaction.attachment == undefined">-</span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>keyboard_arrow_down</mat-icon> Date</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.feeNQT}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>
