<mat-card class="transaction-header">
    <mat-grid-list cols="8" rowHeight="80px">
        <mat-grid-tile class="border-divide-right" [colspan]="2" [rowspan]="1">
            {{ account }}
        </mat-grid-tile>
        <mat-grid-tile class="border-divide-right" [colspan]="5" [rowspan]="1">
            <div class="transaction-filter">
                Filter:
            </div>
            <div class="transaction-filter">
                <mat-form-field class="search-form">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="transaction-filter">
                <mat-checkbox class="transaction-checkbox" [(ngModel)]="checked">Incoming</mat-checkbox>
                <mat-checkbox class="transaction-checkbox" [(ngModel)]="checked">Outgoing</mat-checkbox>
            </div>
            <div class="transaction-filter">
                <mat-form-field>
                    <input matInput [matDatepicker]="pickerFrom" placeholder="From">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="pickerTo" placeholder="To">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="sync-icon">check</mat-icon>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card>
    <mat-tab-group>
        <mat-tab label="List">
            <h3>Ordinary Payment</h3>
            <mat-table #table [dataSource]="dataSource" matSort>
                <!-- Color Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let transaction">
                        <mat-icon *ngIf="isOwnAccount(transaction.senderAddress)" class="indicator danger">keyboard_arrow_left</mat-icon>
                        <mat-icon *ngIf="!isOwnAccount(transaction.senderAddress)" class="indicator success">keyboard_arrow_right</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="opposite">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>account_box</mat-icon>&nbsp;Opposite</mat-header-cell>
                    <mat-cell *matCellDef="let transaction">
                        <span *ngIf="isOwnAccount(transaction.senderAddress)">{{transaction.recipientAddress}}</span>
                        <span *ngIf="!isOwnAccount(transaction.senderAddress)">{{transaction.senderAddress}}</span>
                    </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>local_atm</mat-icon>&nbsp;Amount</mat-header-cell>
                    <mat-cell *matCellDef="let transaction"> {{transaction.amountNQT}} BURST</mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="fee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>compare_arrows</mat-icon>&nbsp;Fee</mat-header-cell>
                    <mat-cell *matCellDef="let transaction"> {{transaction.feeNQT}} BURST</mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="attachment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>note</mat-icon>&nbsp;Note</mat-header-cell>
                    <mat-cell *matCellDef="let transaction">
                        <span *ngIf="transaction.attachment == undefined">-</span>
                    </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon>schedule</mat-icon>&nbsp;Date</mat-header-cell>
                    <mat-cell *matCellDef="let transaction">
                        {{convertTimestamp(transaction.timestamp) | timeAgo}}
                        <br>
                        <small class="full-date">{{convertTimestamp(transaction.timestamp) | date:'MMM d, y, h:mm:ss'}}</small>
                    </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="confirmed">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let transaction">
                        <mat-icon *ngIf="transaction.confirmed">check</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 500]" [showFirstLastButtons]="true">
            </mat-paginator>
        </mat-tab>
        <mat-tab label="Graphs">Content 2</mat-tab>
    </mat-tab-group>
</mat-card>
