<mat-card>
    <mat-card-header>
        <div mat-card-avatar><mat-icon>build</mat-icon></div>
        <mat-card-title>Setup</mat-card-title>
        <mat-card-subtitle>Node & Account</mat-card-subtitle>
    </mat-card-header>
    <mat-vertical-stepper [linear]="true" #stepper="matVerticalStepper">
      <mat-step [completed]="true">
          <ng-template matStepLabel>Node</ng-template>

      </mat-step>
      <mat-step [completed]="true">
          <ng-template matStepLabel>Account</ng-template>
          <app-account-new></app-account-new>
      </mat-step>
      <mat-step [completed]="true">
        <ng-template matStepLabel>Done</ng-template>
        You are now done
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
</mat-card>
