<div class="main register-page">
    <div *ngIf="validToken" class="register-box">
        <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
        <div class="register-logo">
            <a href="../../index2.html"><b>Burst</b> Particle</a>
        </div>

        <div class="register-box-body">
            <p class="register-box-msg">Please enter your information!</p>
            <form>
                <div class="row">
                    <div [ngClass]="{'col-lg-6': student == true, 'col-lg-12': student == false}">
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" disabled="true">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Retype password">
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" [(ngModel)]="user.firstname" name="firstname" placeholder="First Name">
                            <span class="glyphicon glyphicon-menu-hamburger form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name">
                            <span class="glyphicon glyphicon-menu-hamburger form-control-feedback"></span>
                        </div>

                    </div>
                    <div *ngIf="student == true" class="col-lg-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" [(ngModel)]="studentEntry.university" name="university" placeholder="University">
                            <span class="glyphicon glyphicon-education form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" [(ngModel)]="studentEntry.matriculationNo" name="studentid" placeholder="Student ID">
                            <span class="glyphicon glyphicon-tag form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="studyProgram" [(ngModel)]="studentEntry.studyProgram" id="studyProgram" required>
                                <option value="" disabled selected hidden>Study Program</option>
                                <option value="bachelor">Bachelor</option>
                                <option value="master">Master</option>
                                <option value="graduation">Graduation</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-xs-6" style="padding-left:0px;padding-right:5px">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" [(ngModel)]="studentEntry.majorFieldOfStudy" name="majorFieldOfStudy" placeholder="Major Field">
                                <span class="glyphicon glyphicon-bookmark form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-6" style="padding-left:5px;padding-right:0px">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" [(ngModel)]="studentEntry.minorFieldOfStudy" name="minorieldOfStudy" placeholder="Minor Field">
                                <span class="glyphicon glyphicon-bookmark form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group donut-calender">
                            <datetime [(ngModel)]="studentEntry.fromDate" name="fromDate" id="fromDate" [datepicker]="datepickerConfig" [timepicker]="false"></datetime>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="has-feedback">
                            <label class="radio-inline">
                                <input type="radio" name="male" [(ngModel)]="user.gender" value="M">Male</label>
                            <label class="radio-inline">
                                <input type="radio" name="female" [(ngModel)]="user.gender" value="F">Female</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="has-feedback">
                            <div class="checkbox" style="margin: 0px">
                                <label style="float:right">
                                    <p-toggleButton styleClass="btn btn-primary btn-block btn-flat" name="student" [(ngModel)]="student" (change)="student = !student" onLabel="Student" offLabel="Student" onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [checked]="termsAccepted" (change)="termsAccepted = !termsAccepted"> I agree to the <a [routerLink]="['/register/terms']">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="registerUser()">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.form-box -->
    </div>
</div>
