<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <mat-expansion-panel expanded="true" disabled="true" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Set your Pin!
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="pin-container">
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Pin" [(ngModel)]="pin">
                </mat-form-field>
            </div>
            <hr>
            <small>
                Enter a pin to secure your account. The pin is used to verify actions made with your account.
            </small>
        </mat-expansion-panel>
        <div class="text-center navigation">
            <button mat-raised-button (click)="back()">Back</button>
            <button mat-raised-button (click)="finish(pin)">Finish</button>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
