<mat-card>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="recentTransactionData" matSort>


        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <mat-icon *ngIf="isOwnAccount(transaction.senderAddress)" class="indicator danger">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="!isOwnAccount(transaction.senderAddress)" class="indicator success">keyboard_arrow_right</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opposite">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>account_box</mat-icon>&nbsp;Opposite</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <span *ngIf="isOwnAccount(transaction.senderAddress)">{{transaction.recipientAddress}}</span>
                <span *ngIf="!isOwnAccount(transaction.senderAddress)">{{transaction.senderAddress}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>local_atm</mat-icon>&nbsp;Amount</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.amountNQT| number : '1.0-8'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fee">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>compare_arrows</mat-icon>&nbsp;Fee</mat-header-cell>
            <mat-cell *matCellDef="let transaction"> {{transaction.feeNQT | number : '1.0-8'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon>schedule</mat-icon>&nbsp;Date</mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                {{convertTimestamp(transaction.timestamp) | timeAgo}}
                <br>
                <small class="full-date">{{convertTimestamp(transaction.timestamp) | date:'MMM d, y, h:mm:ss'}}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="confirmed">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let transaction">
                <mat-icon *ngIf="transaction.confirmed">check</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>
