<mat-card>
    <h3>Setup</h3>
    <mat-divider>
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [completed]="true">
          <ng-template matStepLabel>Node</ng-template>

      </mat-step>
      <mat-step [completed]="true">
          <ng-template matStepLabel>Account</ng-template>

      </mat-step>
      <mat-step [completed]="true">
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</mat-card>
